body {
  font: 100% Arial, sans-serif;
  background-color: #454545;
  color: #dedede;
}

a {
  color: #cfff1f;
}

.login-page {
  width: 100%;
}

h1 {
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.login {
  padding-top: 280px;
  width: 300px;
  margin: auto;
  z-index: 2;
}
.login input {
  border: none;
  padding: 10px;
  margin: 5px;
  width: 250px;
}
.login button {
  float: right;
  border: none;
  padding: 8px;
  margin-top: 5px;
  background-color: #b9000f;
  color: #dedede;
  margin-bottom: 15px;
}
.login button:hover {
  background-color: red;
}
.login a {
  color: #dedede;
  font-size: 13px;
  text-decoration: none;
}
.login a:hover {
  color: #cfff1f;
}

#canvas-image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1 !important;
}

.gallery-box {
  display: flex;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.gall {
  padding: 15px;
  margin: 5px;
  text-align: center;
  background-color: #303335;
}
.gall .del-butt {
  padding: 8px 20px;
  color: #dedede;
  background-color: #b9000f;
  border: none;
}
.gall .edit-butt {
  padding: 8px 20px;
  color: #dedede;
  background-color: #f84640;
  border: none;
}

.gall-thumb {
  height: 300px;
  width: 250px;
  overflow: hidden;
}
.gall-thumb img {
  width: 100%;
}

.gall-info {
  padding: 15px;
}

.gall-tags {
  border-top: #858585 solid 1px;
  margin: 10px;
  font-size: 14px;
}
.gall-tags a {
  color: #858585;
  text-decoration: none;
}

.gall-descrip {
  font-size: 15px;
}

.profile {
  width: 135px;
  height: 600px;
  background-color: #282828;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: 10px;
  color: #858585;
}
.profile h1 {
  font-size: 19px;
  color: #dedede;
}
.profile a {
  margin-top: 20px;
  text-decoration: none;
}
.profile a:hover {
  text-decoration: underline;
}
.profile label {
  color: #858585;
  font-size: 13px;
}
.profile input {
  width: 130px;
  border: none;
  margin-bottom: 10px;
}
.profile textarea {
  resize: vertical;
  border: none;
  width: 130px;
  height: 50px;
}
.profile button {
  border: none;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #b9000f;
  color: #dedede;
}
.profile button:hover {
  background-color: red;
}

.upload-info {
  display: flex;
  flex-flow: column;
  background-color: #282828;
  border-radius: 10px;
  padding: 10px;
  font-size: 13px;
}

.upload-prev {
  max-width: 100px;
}

.upload-mess {
  display: none;
}

.blog {
  display: flex;
  flex-flow: row;
}

.postbox {
  background-color: #282828;
  margin: 15px;
  padding: 10px;
  max-width: 700px;
  min-width: 300px;
  height: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.postbox a {
  color: #dedede;
}
.postbox a:hover {
  color: #cfff1f;
}

.single-post {
  background-color: #282828;
  padding: 20px;
  max-width: 999px;
  margin: auto;
  margin-top: 50px;
  line-height: 1.6;
}
.single-post .post-title {
  margin-bottom: 80px;
}
.single-post .post-tags {
  color: #858585;
}

.tags {
  margin-top: 10px;
  color: #858585;
  font-size: 14px;
}

.detail {
  display: flex;
  flex-flow: row;
}
.detail .full-info {
  background-color: #282828;
  padding: 10px;
  width: 130px;
  height: 600px;
}
.detail .full-info h1 {
  font-size: 20px;
  border-bottom: #858585 1px solid;
}
.detail .full-image {
  margin: auto;
  max-height: 800px;
}

/*# sourceMappingURL=style.css.map */
